.login {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .loginFormContainer {
  width: 90vw;
  max-width: 400px;
  padding: 20px;
  /* background-color: var(--light_blue)!important; */
  /* color: var(--yellow)!important; */
}
@media screen and (max-width: 600px) {
  .login {
    align-items: flex-start;
  }
  .login .loginFormContainer {
    margin-top: 50px;
  }
}
