.productCard {
  display: flex;
  padding: 10px;
}
.productCard > div {
  flex: 1;
  padding: 5px;
}
.addCart {
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  .productCard {
    padding: 10px;
  }
}
