.shop {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.shop .container .products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.shop .container h2{
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    word-spacing: 10px;
}
