.shop {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}
.shop .container {
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .shop .container {
    padding: 10px;
  }
}
