.blogs .caurosel {
  width: 100%;
  display: flex;
  padding: 30px 0;
}
.blogs > .title {
  font-size: 38px;
  padding: 20px;
  text-align: center;
  color: var(--yellow);
  border-bottom: 1px solid var(--gray);
}

.blogs .blog {
  display: flex;
  flex-direction: column;
  color: var(--dark);
}
.blogs .blog .top {
  overflow: hidden;
}
.blogs .blog:hover .top img {
  transform: scale(1.1);
}
.blogs .blog .top {
  display: flex;
}
.blogs .blog .top img {
  flex: 1;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.3s;
}
.blogs .blog .bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.blogs .blog .bottom .createdAt {
  margin-right: 0;
}
.blogs .blog .bottom h3 {
  font-size: 28px;
}
@media screen and (max-width:600px) {
  .blog{
    width: 70vw;
  }
  .blogs .blog .top img{
    height: 200px;
  }
  
}