.banner {
  width: 100vw;
}
.banner img {
  width: inherit;
  height: auto;
}
.specialities {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 20px;
}
.specialities h1 {
  text-align: center;
  font-size: min(7vw, 48px);
}
.specialities .items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  flex-wrap: wrap;
}
.specialities .items .item {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  overflow: hidden;
}
.specialities .items .item .imageContainer {
  width: 100%;
  overflow: hidden;
}
.specialities .items .item:hover img {
  transform: scale(1.1);
}
.specialities .items .item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s;
}
.secondary_banner {
  width: 100vw;
  height: min(400px, 30vh);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://media.istockphoto.com/photos/cup-of-coffee-and-coffee-beans-in-a-sack-top-view-picture-id927414822?k=20&m=927414822&s=612x612&w=0&h=Oj9x5kyEsv_G3gl-7H-9ODFvT6KTDufPYSg7b1_Ip0s=);
}
.secondary_banner div {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.534);
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary_banner div h2 {
  color: var(--yellow);
  font-size: min(38px,10vw);
  text-transform: uppercase;
  text-align: center;
}
.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}
.section-4 .item {
  display: flex;
  width: 100%;
  padding: 50px;
  width: 100%;
  align-items: center;
}
.section-4 .item .left img {
  height: min(400px, 70vw);
  width: min(400px, 70vw);
  object-fit: cover;
}
.section-4 .item .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: min(50px,3vw);
  justify-content: space-between;
  align-items: center;
}

.section-4 .item:last-child {
  flex-direction: row-reverse;
}

.newsletter {
  width: 100vw;
}
.newsletter .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.newsletter .container h3 {
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}

.newsletter .container .inputBox {
  width: 400px;
  height: 40px;
  border: 2px solid var(--dark);
  display: flex;
}
.newsletter .container .inputBox input {
  font-size: 18px;
  letter-spacing: 0.6px;
  flex: 1;
  padding: 5px;
  height: 100%;
  outline: none;
  border: none;
}
.newsletter .container .inputBox button {
  height: 100%;
  border: none;
  outline: none;
}


@media screen and (max-width:600px) {
  .section-4 .item{
    flex-direction: column;
  }
  .section-4 .item:last-child {
    flex-direction: column;
  }
  .section-4 .item .right p{
    padding: 10px;
    text-align: center;
  }
  .newsletter .container .inputBox{
    width: 70vw;
    overflow: hidden;
  }
  .newsletter .container .inputBox input{
    flex: 1;
    font-size: 16px;
  }
  
}