header {
  height: 80px;
  width: 100vw;
  background-color: var(--dark);
  color: white;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 99;
}
 .sideDrawer{
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 250px!important;
  padding: 20px;background-color: var(--dark);
  height: 100vh;
  max-width: 100vh;
}
.header .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.header .container .left,
.header .container .center,
.header .container .right {
  flex: 1;
  display: flex;
  align-items: center;
}
.header .container .left .logo img{
  height: 200px;
  width: auto;
}

.header .container .center a {
  margin-right: 15px;
  text-decoration: none;
  font-weight: 500;
}
.header .container .right{
    justify-content: flex-end;
}

.header .container .right .cartIcon{
  margin-right: 15px;
}

.menuIcon{
  display: none;
  color: white;
  font-size: 24px;
}
@media screen and (max-width:600px) {
  .header .container{
    padding: 10px;

  }
  .header .container .left .logo img{
    height: 160px;
  }
  .header .container .center{
    display: none;
  }
  .menuIcon{
    display: inline-block;
  }
  .header .container .right .MuiButton-root{
    height: 40px!important;

  
}}

@media screen and (max-width:380px) {
  .header .container{
    padding: 10px;

  }
  .header .container .left .logo img{
    height: 120px;
  }
  .header .container .center{
    display: none;
  }
  .menuIcon{
    display: inline-block;
  }
  .header .container .right .MuiButton-root:last-child{
  display: none;

  
}
   
  }
  
