footer{
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    background-color: var(--dark);
    overflow: hidden;
    color: white;
}
footer .container{
    display: flex;
    flex-direction: column;
}
footer .container .top{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;

}
footer .container .top .logo{
    
}
footer .container .top .logo img{
    height: 160px;
}
footer > .container > .top .links{
    display: flex;
}
footer .container .top .links a{
    margin-right: 15px;
}

footer > .container >.bottom{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--gray);
}


@media screen and (max-width:600px) {
    footer .container .top{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
}